<div class="w-full px-4">
  <div>
    <%= render 'batches/batch', batch: @batch, show_actions: false %>
  </div>
  <div class="divide mt-8"></div>
  <div id="items" class="grid grid-cols-2">
    <div class="col-span-1 p-1 border-r-2 border-slate-200">
     <h2 class="text-3xl"> <%= t(".items") %></h2>
      <% @batch.items.each do |item| %>
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4">
          <%= link_to item do %>
            <%= render item %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
