<section class="w-full px-4">
  <div class="flex justify-between mb-4">
    <h2 class="text-3xl"><%= t(".new_items") %></h2>
  </div>
  <div class="divider bg-slate-200"></div>
  <%= render "form" %>
</section>
