<section class="w-full px-4">
  <div class="flex justify-between mb-4">
    <h2 class="text-3xl"><%= t(".batches") %></h2>
    <%= link_to t(".new"), new_batch_path, class: "btn btn-accent" %>
  </div>
</section>
